.visualisation{
    text-align: left;
    display: block;
    margin: auto;
    max-width: 50%;
}

#barWrap{
    width: 100%;
    .barChart{
        position: relative;
        margin-top: 5%;
    }
}

.leftLabel{
    position: absolute;
    fill: #fff;
    transform: translate(15px,70%) rotate(-90deg);
    font-size: 22px;
    font-family: "Roboto";
}

.bottomLabel{
    font-size: 22px;
    font-family: "Roboto";
    margin: 0;
}

#barChartLegend{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    font-family: "Roboto-light";
    margin: auto;
    padding-top: 20px;
    div{
        padding: 0 10px;
        position: relative;
    }

    #leftLegend{
        color: #db393c;
        &::before{
            content: "";
            width: 20px;
            height: 20px;  
            background: #db393c;
            position: absolute;
            left: -20px;
            border-radius: 2px;
        }
    }
    #rightLegend{
        color: #0f4ff4;
        &::before{
            content: "";
            width: 20px;
            height: 20px;  
            background: #0f4ff4;
            position: absolute;
            left: -20px;
            border-radius: 2px;
        }
    }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

// .bar {
//   fill: orange;
// }

// .bar:hover {
//   fill: orangered ;
// }

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  font-family: "Roboto";
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#red{
    background: #db393c;
    &.d3-tip::after{
        color: rgba(219, 57, 60, 1)
    }
}

#blue{
    background: #0f4ff4;
    &.d3-tip::after{
        color: rgba(15, 79, 244, 1)
    }
}

rect:hover{
    opacity: .7;
    cursor: pointer;
}

.tick{
    font-size: 20px;
    font-family: "Roboto";
}

.columnChart{

        font-size: 15px;

}

