@import 'housestyle';
@import 'barChart';

html, body{
    margin: 0;
    background: color(black);
    color: color(white);
    text-align: center;
}

#cadlogo{
    margin: auto;
    display: block;
    transform: scale(.8);
    padding: 30px 0;
}

#amsterdamLogo{

    left: 50%;
    transform: translate(-50%, -20%) scale(.5);
    position: relative;
}

#introduction{
    font-family: 'Roboto';
    background-image: url('../img/introbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.yellow-bar{
    background-color: #fbea6a;
    color:black;
    margin: 0 20%;
    padding: 40px 50px;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: left;
    transform: translateY(-20%);
    .invert{
        background-color: black;
        color: #fbea6a;
        padding: 2px;
    }
}

.black-bar{
    background-color: color(black);
    color: color(white);
    margin: 0 20%;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.yellow-text{
        .insight{
        color:#fbea6a;
    }
    }
    h2{
        flex: 0 0 100%;
    }
    .insight{
        padding: 0 20px;
        font-family: 'Roboto';
        font-size: 30px;
        p{
            font-size: 22px;
            font-weight: 400;
        }
        div{
            font-size: 60px;
        }
    }

    #value1{
        color: #ee1f33
    }
    #value2{
        color: #0048ff;
    }

    #valRed{
        color: #ee1f33
    }
    #valBlue{
        color: #0048ff;
    }
}


